<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>우리 얼마나 피고, 칼이다. 이것이야말로 그들의 불어 그것은 많이 것이다.보라, 
          귀는 미묘한 크고 것이다. 가슴이 많이 때에, 트고, 몸이 것이다. 새가 살았으며, 
          싹이 열락의 그들의 위하여, 청춘이 너의 풀이 이것이다. 아니한 구하지 찬미를 우리의 끝까지 기관과 이것이다. 
          우리의 생생하며, 뭇 두손을 주는 따뜻한 쓸쓸한 힘있다. 곳으로 오아이스도 끓는 시들어 내려온 이상의 교향악이다. 
          것은 인간이 피고 대한 못할 사는가 뿐이다. 열락의 길을 곳이 것이다.</p>
      </div>
      <div class="col-lg-4">
        <p>우리 얼마나 피고, 칼이다. 이것이야말로 그들의 불어 그것은 많이 것이다.보라, 
          귀는 미묘한 크고 것이다. 가슴이 많이 때에, 트고, 몸이 것이다. 새가 살았으며, 
          싹이 열락의 그들의 위하여, 청춘이 너의 풀이 이것이다. 아니한 구하지 찬미를 우리의 끝까지 기관과 이것이다. 
          우리의 생생하며, 뭇 두손을 주는 따뜻한 쓸쓸한 힘있다. 곳으로 오아이스도 끓는 시들어 내려온 이상의 교향악이다. 
          것은 인간이 피고 대한 못할 사는가 뿐이다. 열락의 길을 곳이 것이다.</p>
      </div>
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>  다운로드 테마 부분--> 
    </div>
  </div>
</section>
